<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<div id="page-container">
    <div id="content-wrap">

<div>
    <app-nav-bar></app-nav-bar>
</div>
<div class="notFound">
  <h1>404 Not Found</h1>
  <app-user-profile></app-user-profile>
  <br>
  <h2>Sorry, there was an error, reqested page was not found!</h2>
</div>
<button class="btn btn-primary btn-lg" [routerLink]="['/allcards']" routerLinkActive="router-link-active" >Go back</button>

</div>

<footer id="footer">
        <p class="madeWith">Created by Marko Milosavljevic 2019.
                <img class="logo" src="assets/logo.jpg" width="35" height="35"> 
          <span><a class="btn btn-link" style="color:black" href="https://github.com/MarMil1/CSC436-business-card-app">
            <i class="fab fa-github fa-2x"></i></a></span> 
        <span class="madeIn">Made in Angular8.</span></p>
    </footer>
</div>