<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<nav class="navbar navbar-light justify-content-between">
    <a class="navbar-brand ml-3">
        <img src="assets/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
        BizCards
      </a>
</nav>

<div class="col-md-6 offset-md-3" style="margin-top:120px; font-size:18px;">
    <div class="card">
      <h4 class="card-header" style="font-size:25px;">Please enter your login info</h4>
      <div class="card-body">
  
          <div *ngIf="authService.loginFail" class="alert alert-danger">Invalid username or password</div>
          <form [formGroup]="form" (ngSubmit)="signIn()">
            
              <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" formControlName="email" class="form-control" placeholder="Enter your email" style="height:35px; color:black;">
              </div>
  
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" placeholder="Enter your password" style="height:35px; color:black;">
             </div>
  
              <button class="btn btn-primary"  style="font-size:18px;">
                Login
              </button>          
  
          </form>
  
      </div>
    </div>
  </div>

  <footer id="footer">
      <p class="madeWith">Created by Marko Milosavljevic 2019. 
          <img class="logo" src="assets/logo.jpg" width="35" height="35">
        <span><a class="btn btn-link" style="color:black" href="https://github.com/MarMil1/CSC436-business-card-app">
          <i class="fab fa-github fa-2x"></i></a></span> 
      <span class="madeIn">Made in Angular8.</span></p>
  </footer>