<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">

        <a class="navbar-brand" [routerLink]="['/allcards']" routerLinkActive="active">
        <img src="assets/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
            BizCardsApp
        </a>
        
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" [routerLink]="['/allcards']" routerLinkActive="active">All Cards</a>
            <a class="nav-item nav-link" [routerLink]="['/addnewcard']" routerLinkActive="active">Add New Card</a>
            <a class="nav-item nav-link" [routerLink]="['/profile']" routerLinkActive="active">Profile</a>
        </div>
    </div>
    
    <button class="btn btn-info" (click)="signOut()">Logout</button>

    </div>
</nav>

