 .horizLine2 {
    margin-bottom: 20px;
    width: auto;
    border: 0;
    border-top: 2px solid #d3d3d3;
  }

.step2 {
    font-size: 18px;
    font-weight: 500;
}

.btn-success {
    position: absolute;
    left: 370px;
  }

.btn-danger {
    margin-top: 5px;
    margin-bottom: 20px;
}

.form-group {
  font-weight: 500;
}

.info {
  font-weight: 900;
  font-size: 17px;
}

.img {
  margin-left: 70px;
}

.infoMargin {
  margin-top: 5px;
}