.camera {
    margin-left: 150px;
    margin-top: 30px;
    float: left;
}

.snapshot {
    margin-right: 150px;
    margin-left: 120px;
    margin-top: 30px;
}

.webcam-container {
    display: flex;
}

.webcam {
    display: inline-block;
}

.btn-primary {
    margin-left: 325px;
    margin-top: 20px;
}

.btn-warning {
    margin-left: 175px;
    margin-top: 20px;
    color: white;
}

.btn-warning:hover {
    color: white;
}